<template>
    <!-- START BLOG -->
        <section class="section bg-light pt-5 scroll-select" id="blog">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 offset-lg-2">
                        <h1 class="section-title text-center">News</h1>
                        <div class="section-title-border margin-t-20"></div>
                    </div>
                </div>

                <div class="row margin-t-30">
                    <div class="col-lg-4">
                        <div class="blog-box margin-t-30 hover-effect">
                            <img src="images/news.jpg" class="img-fluid" alt="" style="height:250px; width:250px;">
                            <div>
                                <h5 class="mt-4 text-muted">18 March 2020</h5>
                                <h4 class="mt-3"><a href="" class="blog-title">Media Daring Universitas Raharja</a></h4>
                                <p class="text-muted"> Guna mencegah dan penyebaran corona virus (covid 19), serta himbauan dari Kepala LLDIKTI IV surat no.1685/LL4/TU/2020 dan surat edaran dari...</p>
                                <div class="mt-3">
                                    <a href="" class="read-btn">Read More <i class="mdi mdi-arrow-right"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4">
                        <div class="blog-box margin-t-30 hover-effect">
                            <img src="images/news_2.jpeg" class="img-fluid" alt="">
                            <div>
                                <h5 class="mt-4 text-muted">02 March 2020</h5>
                                <h4 class="mt-3"><a href="" class="blog-title">Penyerahan SK Jabatan Akademik Dosen Asisten Ahli dan Lektor di Lingkungan LLDIKTI Wilayah IV</a></h4>
                                <p class="text-muted"> Sehubungan dengan telah terbitnya SK Jabatan Akademik Dosen Asisten Ahli dan Lektor, Lembaga Layanan Pendidikan Tinggi dengan ini kami mengundang...</p>
                                <div class="mt-3">
                                    <a href="" class="read-btn">Read More <i class="mdi mdi-arrow-right"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4">
                        <div class="blog-box margin-t-30 hover-effect">
                            <img src="images/news_adi.jpg" class="img-fluid" alt="">
                            <div>
                                <h5 class="mt-4 text-muted">11 February 2020</h5>
                                <h4 class="mt-3"><a href="" class="blog-title">Penghargaan ADI Award 2020</a></h4>
                                <p class="text-muted"> Assoc. Prof. Dr. Untung Rahardja, M.T.I., MM, kategori DPC/DPD ADI Aktif dan Berdaya. & Dr. Ir. Sudaryono, M.Pd, kategori dosen...</p>
                                <div class="mt-3">
                                    <a href="" class="read-btn">Read More <i class="mdi mdi-arrow-right"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </section>
        <!-- END BLOG -->
</template>

<script>
export default {
  name: 'Blog',
  props: {
  }
}
</script>

<style scoped>
.img-fluid {
    width: 100% !important;
    height: 250px;
}
</style>