<template>
    <!--START SERVICES-->
        <section class="section pt-5 scroll-select" id="fakultas">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 offset-lg-2">
                        <h1 class="section-title text-center">Fakultas</h1>
                        <div class="section-title-border margin-t-20"></div>
                        <p class="section-subtitle text-muted text-center padding-t-30 font-secondary">Ada 2 Fakultas yang ada di Raharja</p>
                    </div>
                </div>
                <div class="row margin-t-30">
                    <div class="col-lg-6">
                        <div id="accordion" class="myaccordion">
                    <div class="card">
                        <div class="card-header" id="headingOne">
                        <h2 class="mb-0">
                            <button class="d-flex align-items-center justify-content-between btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            Fakultas Sains dan Teknologi (S1)
                            <span class="fa-stack fa-sm">
                                <i class="fas fa-circle fa-stack-2x"></i>
                                <i class="fas fa-minus fa-stack-1x fa-inverse"></i>
                            </span>
                            </button>
                        </h2>
                        </div>
                        <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                        <div class="card-body">
                            <ul>
                            <li><strong>Teknik Informatika</strong></li>
                            <p>
                                <br>Konsentrasi yang ditawarkan diantaranya :
                                <br>a. Multimedia Audio Visual and Broadcasting –<em> </em>
                                <a href="http://raharja.me/sisplus/web/index.php?r=kurikulum%2Fview&amp;id=2147">
                                <em>Kurikulum</em></a><br>b. Software Engineering – 
                                <a href="http://raharja.me/sisplus/web/index.php?r=kurikulum%2Fview&amp;id=2247">
                                <em>Kurikulum</em></a>
                                <br>Kompetensi Lulusan : Software Developer, Database Administrator, Software Quality Assurance Practicioner, Software Consultant, Broadcasting, Creative Director<br>
                                <em><a href="https://drive.google.com/file/d/1OfalTltCdp6pSXQ6GQ6CLiP9rplElm2j/view?usp=sharing">Prestasi Mahasiswa</a></em>
                                <a href="https://drive.google.com/file/d/1OfalTltCdp6pSXQ6GQ6CLiP9rplElm2j/view?usp=sharing"> </a>
                            </p>
                            <li><strong>Sistem Informasi</strong></li>
                            <p><br>Konsentrasi yang ditawarkan diantaranya :
                                <br>a. Business Intelligence – Kurikulum
                                <br>b. Computer Accountancy – Kurikulum
                                <br>c. Management Information System – Kurikulum
                                <br>Kompetensi Lulusan :
                                <br>Prestasi Mahasiswa
                            </p>
                            <li><strong>Sistem Komputer</strong></li>
                            <p><br>Konsentrasi yang ditawarkan diantaranya :
                            <br>a. Creative Communication and Innovative Technology – Kurikulum
                            <br>b. Computer System – Kurikulum
                            <br>Kompetensi Lulusan :
                            <br>Prestasi Mahasiswa</p>
                            </ul>
                        </div>
                        </div>
                    </div>
                    </div>
                </div>
                <div class="col-lg-6">
                        <div id="accordion" class="myaccordion">
                    <div class="card">
                        <div class="card-header" id="headingThree">
                        <h2 class="mb-0">
                            <button class="d-flex align-items-center justify-content-between btn btn-link" data-toggle="collapse" data-target="#collapseThree" aria-expanded="true" aria-controls="collapseOne">
                            Fakultas Sains dan Teknologi (Diploma III)
                            <span class="fa-stack fa-sm">
                                <!-- <font-awesome-icon :icon="['fas', 'plus']" />
                                <font-awesome-icon :icon="['fas', 'minus']" /> -->
                            </span>
                            </button>
                        </h2>
                        </div>
                        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                        <div class="card-body">
                            <ul>
                            <li><strong>Teknik Informatika</strong></li>
                            <p>
                                <br>Konsentrasi yang ditawarkan diantaranya :
                                <br>a. Artificial Informatics – Kurikulum
                                <br>b. System Architecture – Kurikulum
                                <br>Kompetensi Lulusan :
                                <br>Prestasi Mahasiswa
                            </p>
                            <li><strong>Manajemen Informatika</strong></li>
                            <p>
                                <br>Konsentrasi yang ditawarkan diantaranya :
                                <br>a. Web Graphic Design – Kurikulum
                                <br>b. Management Information System – Kurikulum
                                <br>Kompetensi Lulusan :
                                <br>Prestasi Mahasiswa
                            </p>
                            <li><strong>Komputerisasi Akutansi</strong></li>
                            <p>
                                <br>Konsentrasi yang ditawarkan diantaranya :
                                <br>a. Web Based Accounting System – Kurikulum
                                <br>b. Finance – Kurikulum
                                <br>Kompetensi Lulusan :
                                <br>Prestasi Mahasiswa
                                </p>
                            </ul>
                        </div>
                        </div>
                    </div>
                    </div>
                </div>
                <div class="col-lg-6">
                        <div id="accordion" class="myaccordion">
                    <div class="card">
                        <div class="card-header" id="headingFour">
                        <h2 class="mb-0">
                            <button class="d-flex align-items-center justify-content-between btn btn-link" data-toggle="collapse" data-target="#collapseFour" aria-expanded="true" aria-controls="collapseOne">
                            Fakultas Sains dan Teknologi (Diploma III)
                            <span class="fa-stack fa-sm">
                                <i class="fas fa-circle fa-stack-2x"></i>
                                <i class="fas fa-minus fa-stack-1x fa-inverse"></i>
                            </span>
                            </button>
                        </h2>
                        </div>
                        <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
                        <div class="card-body">
                            <ul>
                            <li><strong>Magister Teknik Informatika</strong></li>
                            <p>
                                <br>Konsentrasi yang ditawarkan diantaranya :
                                <br>a. Business Intelligence (BI)
                                <br>– Link Kurikulum
                                <br>– Kompetensi Lulusan :
                                <br>– Link Prestasi Mahasiswa 
                                <br>
                            </p>
                            <li><strong>Information Engineering (IE)</strong></li>
                            <p><br>b. Information Engineering (IE)
                            <br>– Link Kurikulum
                            <br>– Kompetensi Lulusan :
                            <br>– Link Prestasi Mahasiswa
                            </p>
                            </ul>
                        </div>
                        </div>
                    </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div id="accordion" class="myaccordion">
                    <div class="card">
                        <div class="card-header" id="headingTwo">
                        <h2 class="mb-0">
                            <button class="d-flex align-items-center justify-content-between btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            Fakultas Bisnis dan Ekonomi
                            <span class="fa-stack fa-2x">
                                <i class="fas fa-circle fa-stack-2x"></i>
                                <i class="fas fa-plus fa-stack-1x fa-inverse"></i>
                            </span>
                            </button>
                        </h2>
                        </div>
                        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                        <div class="card-body">
                            <ul>
                            <li>Informatics</li>
                            <li>Mathematics</li>
                            <li>Greek</li>
                            <li>Biostatistics</li>
                            <li>English</li>
                            <li>Nursing</li>
                            </ul>
                        </div>
                        </div>
                    </div>
                    </div>
                </div>
                </div>
                <div class="row">
                    <div class="col text-center">
                        <a href="">See more</a>
                    </div>
                </div>
                    </div>

        </section>
        <!--START SERVICES-->
</template>

<script>
export default {
  name: 'Services'
}
</script>

<style scoped>
body {
	background: #f9f9f9;
}
.myaccordion {
	max-width: 500px;
	margin: 50px auto;
	box-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
}
.myaccordion .card, .myaccordion .card:last-child .card-header {
	border: none;
}
.myaccordion .card-header {
	border-bottom-color: #edeff0;
	background: transparent;
}
.myaccordion .fa-stack {
	font-size: 18px;
}
.myaccordion .btn {
	width: 100%;
	font-weight: bold;
	color: #004987;
	padding: 0;
}
.myaccordion .btn-link:hover, .myaccordion .btn-link:focus {
	text-decoration: none;
}
.myaccordion li + li {
    margin-top: 10px;
}
 
</style>