<template>
    <!--START SERVICES-->
        <section class="section pt-5 scroll-select" id="services" >
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 offset-lg-2">
                        <h1 class="section-title text-center">Keunggulan</h1>
                        <div class="section-title-border margin-t-20"></div>
                        <!-- <p class="section-subtitle text-muted text-center padding-t-30 font-secondary">We craft digital, graphic and dimensional thinking, to create category leading brand experiences that have meaning and add a value for our clients.</p> -->
                    </div>
                </div>
                <div class="row margin-t-30">
                    <div class="col-lg-2 margin-t-20">
                        <div class="services-box text-center hover-effect">
                            <img width="50px" height="50px" src="images/sinta.png" alt="">
                            <h4 class="padding-t-15">Sinta Raharja</h4>

                        </div>
                    </div>
                    <div class="col-lg-2 margin-t-20">
                        <div class="services-box text-center hover-effect">
                            <img width="50px" height="50px" src="images/sinta.png" alt="">
                            <h4 class="padding-t-15">Author Sinta</h4>

                        </div>
                    </div>
                    <div class="col-lg-2 margin-t-20">
                        <div class="services-box text-center hover-effect">
                            <img width="50px" height="50px" src="images/sinta.png" alt="">
                            <h4 class="padding-t-15">Top 100 Sinta</h4>

                        </div>
                    </div>
                    <div class="col-lg-2 margin-t-20">
                        <div class="services-box text-center hover-effect">
                            <img width="50px" height="50px" src="images/logosis.png" alt="">
                            <h4 class="padding-t-15">SIS+</h4>

                        </div>
                    </div>
                    <div class="col-lg-2 margin-t-20">
                        <div class="services-box text-center hover-effect">
                            <!-- <i class="pe-7s-piggy text-custom"></i> -->
                            <h4 class="padding-t-15">RME+</h4>

                        </div>
                    </div>
                    <div class="col-lg-2 margin-t-20">
                        <div class="services-box text-center hover-effect">
                            <!-- <i class="pe-7s-piggy text-custom"></i> -->
                            <h4 class="padding-t-15">IRPS</h4>

                        </div>
                    </div>
                </div>
                <div class="row margin-t-30">
                    <div class="col-lg-2 margin-t-20">
                        <div class="services-box text-center hover-effect">
                            <img width="50px" height="50px" src="images/konsultasi.png" alt="">
                            <h4 class="padding-t-15">Konsultasi</h4>

                        </div>
                    </div>
                    <div class="col-lg-2 margin-t-20">
                        <div class="services-box text-center hover-effect">
                            <img width="50px" height="50px" src="https://lh3.googleusercontent.com/-y5jXr3BUAGc/WcWkALc9JiI/AAAAAAAAFj0/rJg8u-H3ilc6smyDogmrWWEbqpT7J3k9QCK8BGAs/s228/2017-09-22.png" alt="">
                            <h4 class="padding-t-15">PEN+</h4>

                        </div>
                    </div>
                    <div class="col-lg-2 margin-t-20">
                        <div class="services-box text-center hover-effect">
                            <img width="50px" height="50px" src="https://lh3.googleusercontent.com/-TElsW6JqnYE/Wog_D4Am6CI/AAAAAAAAEwE/5O5sZ2V9YlMPr1qHbSspJVGrZC8VaRb_wCK8BGAs/s512/2018-02-17.png" alt="">
                            <h4 class="padding-t-15">PESSTA+</h4>

                        </div>
                    </div>
                    <div class="col-lg-2 margin-t-20">
                        <div class="services-box text-center hover-effect">
                            <img width="50px" height="50px" src="images/iduhelp.png" alt="">
                            <h4 class="padding-t-15">IDuHelpOffline</h4>

                        </div>
                    </div>
                    <div class="col-lg-2 margin-t-20">
                        <div class="services-box text-center hover-effect">
                            <img width="50px" height="50px" src="images/widuri.png" alt="">
                            <h4 class="padding-t-15">Widuri</h4>

                        </div>
                    </div>
                    <div class="col-lg-2 margin-t-20">
                        <div class="services-box text-center hover-effect">
                            <img width="50px" height="50px" src="images/rooster.png" alt="">
                            <h4 class="padding-t-15">Rooster</h4>

                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--START SERVICES-->
</template>

<script>
export default {
  name: 'Services'
}
</script>