<template>
    <!--START SOCIAL-->
        <section class="cta bg-light">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <ul class="list-inline social margin-t-20">
                            <li class="list-inline-item"><a href="https://www.facebook.com/Campus.Raharja/" class="social-icon"><i class="mdi mdi-facebook"></i></a></li>
                            <li class="list-inline-item"><a href="https://twitter.com/campus_raharja" class="social-icon"><i class="mdi mdi-twitter"></i></a></li>
                            <li class="list-inline-item"><a href="https://www.instagram.com/campus_raharja/" class="social-icon"><i class="mdi mdi-instagram"></i></a></li>
                            <li class="list-inline-item"><a href="https://www.youtube.com/channel/UCLnmgkjEBIbsLJWqm6Ryb_Q" class="social-icon"><i class="mdi mdi-youtube-play"></i></a></li>
                            <li class="list-inline-item"><a href="https://raharja.ac.id/" class="social-icon"><i class="mdi mdi-dribbble"></i></a></li>
                        </ul>
                    </div>
                    <div class="col-lg-3 margin-t-30">
                        <p class="margin-b-0 contact-title"><i class="pe-7s-call"></i> &nbsp;(021) 5529692</p>
                    </div>
                    <div class="col-lg-3 margin-t-30 text-right">
                        <p class="contact-title"><i class="pe-7s-mail-open"></i>&nbsp; Support@info.com</p>
                    </div>
                </div>
            </div>
        </section>
        <!--END SOCIAL-->
</template>

<script>
export default {
  name: 'Social',
  props: {
  }
}
</script>