<template>
    <!--START PROCESS-->
        <section class="section bg-light" id="alur">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 offset-lg-2 margin-t-20">
                        <h1 class="section-title text-center">Alur Pendaftaran Mahasiswa Baru, Universitas Raharja</h1>
                        <div class="section-title-border margin-t-20"></div>
                    </div>
                    <div class="row margin-t-30 p-5">
                                            <div class="md-tw">
                                                <div class="skill-card">
                                                    <div class="skill-card-top bg-merah">
                                                        <a href="#">
                                                            <img
                                                                src="images/img-mini-icon/mini-icon-red.png"
                                                            />
                                                        </a>
                                                        <h4 class="skill-text">Pilih Jenjang</h4>
                                                    </div>
                                                </div>
                                                <div class="skill-card">
                                                    <div class="skill-card-top bg-ungu">
                                                        <a href="#">
                                                            <img
                                                                src="images/img-mini-icon/mini-icon-purple.png"
                                                            />
                                                        </a>
                                                        <h4 class="skill-text">Pembayaran</h4>
                                                    </div>
                                                </div>
                                                <div class="skill-card">
                                                    <div class="skill-card-top bg-biru">
                                                        <a href="#">
                                                            <img
                                                                src="images/img-mini-icon/mini-icon-blue.svg"
                                                            />
                                                        </a>
                                                        <h4 class="skill-text">Upload Berkas</h4>
                                                    </div>
                                                </div>
                                                <div class="skill-card">
                                                    <div class="skill-card-top bg-kuning">
                                                        <a href="#">
                                                            <img
                                                                src="images/img-mini-icon/mini-icon-yellow.svg"
                                                            />
                                                        </a>
                                                        <h4 class="skill-text">Konfirmasi</h4>
                                                    </div>
                                                </div>
                                                <div class="skill-card">
                                                    <div class="skill-card-top bg-hijau">
                                                        <a href="#">
                                                            <img
                                                                src="images/img-mini-icon/mini-icon-green.svg"
                                                            />
                                                        </a>
                                                        <h4 class="skill-text">Ujian</h4>
                                                    </div>
                                                </div>
                                            </div>
                                            </div>
                </div>
            </div>
        </section>
        <!--END PROCESS-->
</template>

<script>
export default {
  name: 'StartProcess',
  props: {
  }
}
</script>

<style scoped>
.skill-text {
    font-weight: 200;
    font-size: 1.125rem;
    text-align: center;
    line-height: 1.25;
    color: #fff;
}

.skill-card-top a img {
    opacity: 1;
    width: 120px;
    height: 120px;
    max-width: 120px;
    display: inherit;
    margin: 0 auto;
}

.skill-card-top a {
    height: 120px;
    display: block;
    color: #3490dc;
    cursor: pointer;
    text-decoration: none;
    margin: 0;
    padding: 0;
    font-size: 100%;
    background: 0 0;
}

.skill-card-top {
    border-radius: 0.9rem;
    content: "";
    display: block;
    width: 100%;
    padding-left: 2rem;
    padding-right: 2rem;
    text-align: center;
    position: relative;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
}

.bg-merah {
    background: linear-gradient(180deg, #f44881, #ec454f);
}

.bg-biru {
    background: linear-gradient(180deg, #21c8f6, #637bff);
}

.bg-hijau {
    background: linear-gradient(180deg, #6edcc4, #1aab8b);
}

.bg-kuning {
    background: linear-gradient(0deg, #f19a1a, #ffc73c);
}

.bg-ungu {
    background: linear-gradient(0deg, #8b60ed, #b372bd);
}

.skill-card {
    background: 0 0;
    max-width: 100%;
    margin-bottom: 0;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    display: flex;
    flex-direction: column;
    border-radius: 0;
    position: relative;
    width: 200px;
}

.md-tw {
    margin-left: 2rem;
    margin-right: 2rem;
    justify-content: space-around;
    margin-bottom: 2rem;
    display: flex;
}

.tw-hidden h3 {
    margin-bottom: 0;
    font-weight: 450;
    font-size: 1.875rem;
    letter-spacing: -0.02em;
    color: #22292f;

}

.tw-hidden {
    display: flex;
    margin-bottom: 2rem;
    text-align: center;
    padding-bottom: 0.75rem;
    justify-content: center;
}

.hr {
    margin: 0 0;
}

.tw-time {
    font-size: 1.2rem;
}

.tw-text {
    font-size: 0.8rem;
    color: #22292f;
}

.tw-mb img {
    display: initial;
    max-width: 100%;
    max-height: 30px;
}

.tw-mb {
    height: 30px;
    margin-bottom: 0.25rem;
}

.home-skill {
    text-align: center;
    border-radius: 0.5rem;
    flex: none;
    width: 300px;
    height: 35px;
}

.container-section {
    padding-bottom: 3rem;
    margin-bottom: 4rem;
    display: flex;
    justify-content: center;
}

.section-time {
    padding-top: 0;
    margin-top: -2.5rem;
    padding-bottom: 0;
    margin-bottom: 4rem;
    padding-left: 40px;
    padding-right: 40px;
    position: relative;
    display: block;
}
.container {
    max-width: 1200px;
    position: relative;
    margin: 0 auto;
}
</style>