<template>
    <div id="home1">
        <navbar></navbar>

        <hero-section></hero-section>

        <start-process></start-process>

        <informasi></informasi>
        
        <services></services>

        <testimonial></testimonial>

        <blog></blog>

        <contact></contact>

        <social></social>

        <footer-section></footer-section>
        
        <footer-alter></footer-alter>
        
        <switcher />
    </div>
    
</template>

<script>
import Navbar from './Elements/Navbar.vue'
import HeroSection from './Sections/HeroSection.vue'
import Services from './Sections/Services.vue'
import StartProcess from './Sections/StartProcess.vue'
import Testimonial from './Sections/Testimonial.vue'
import Blog from './Sections/Blog.vue'
import Contact from './Sections/Contact.vue'
import Social from './Sections/Social.vue'
import Informasi from './Sections/ProgramStudi.vue'
import FooterSection from './Elements/FooterSection.vue'
import FooterAlter from './Elements/FooterAlter.vue'
import Switcher from './Elements/Switcher.vue'

export default {
  name: 'Home',
  components: {
    Navbar,
    HeroSection,
    Services,
    StartProcess,
    Informasi,
    Testimonial,
    Blog,
    Contact,
    Social,
    FooterSection,
    FooterAlter,
    Switcher,
  }
}

</script>
