<template>
    <!--START FOOTER-->
        <footer class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 margin-t-20">
                        <h4>INTEGRAM</h4>
                        <div class="text-muted margin-t-20">
                            <ul class="list-unstyled footer-list">
                                <li><a href="#home">Home</a></li>
                                <li><a href="#contact">About us</a></li>
                                <li><a href="#">Major</a></li>
                                <li><a href="#">Contact us</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 margin-t-20">
                        <h4>Program Studi</h4>
                        <div class="text-muted margin-t-20">
                            <ul class="list-unstyled footer-list">
                                <li><a href="#">S2 - Magister Teknik Informatika</a></li>
                                <li><a href="#contact">S1 - Sistem Informasi</a></li>
                                <li><a href="#">S1 - Teknik Informatika</a></li>
                                <li><a href="#">S1 - Sistem Komputer</a></li>
                                <li><a href="#">S1 - Manajemen Retail</a></li>
                                <li><a href="#">S1 - Sistem Komputer</a></li>
                                <li><a href="#">S1 - Akutansi</a></li>
                                <li><a href="#">D3 - Manajemen Informatika</a></li>
                                <li><a href="#">D3 - Teknik Informatika</a></li>
                                <li><a href="#">D3 - Komputerisasi Akutansi</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 margin-t-20">
                        <h4>Support</h4>
                        <div class="text-muted margin-t-20">
                            <ul class="list-unstyled footer-list">
                                <li><a href="">FAQ</a></li>
                                <li><a href="">Contact</a></li>
                                <li><a href="">Disscusion</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 margin-t-20">
                        <h4>Subscribe</h4>
                        <div class="text-muted margin-t-20">
                            <p>In an ideal world this text wouldn’t exist, a client would acknowledge the importance of having web copy before the design starts.</p>
                        </div>
                        <form class="form subscribe">
                            <input placeholder="Email" class="form-control" required>
                            <a href="#" class="submit"><i class="pe-7s-paper-plane"></i></a>
                        </form>
                    </div>
                </div>
            </div>
        </footer>
        <!--END FOOTER-->
</template>

<script>
export default {
  name: 'FooterSection',
  props: {
  }
}
</script>